@import "tailwindcss";

@font-face {
    font-family: "ARCO";
    src:
      /*local("ARCO"),*/
      url("/fonts/ARCO.ttf") format("truetype"),
      url("/fonts/ARCO.woff") format("woff"),
}

@font-face {
    font-family: "Koomic Mono";
    src:
      url("/fonts/KoomikMono.otf") format("otf"),
      url("/fonts/KoomikMono.ttf") format("truetype"),
      url("/fonts/KoomikMono.woff") format("woff"),
      url("/fonts/KoomikMono.woff2") format("woff2"),
}

:root {
  font-family: 'Borel', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.7;
  vertical-align:middle;
  font-weight: 400;

  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --title-color: #ff4894;
}

* {
  box-sizing: border-box;
}

code {
  font-family: 'Koomic Mono', monospace;
  font-size: 1em;
  line-height: .7;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

h1, h2, h3 {
  font-family: ARCO, sans-serif;
  color: var(--title-color);
}

h2, h3 {
  font-size: 1.5em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fbfbfb;
  }
}
