@import "tailwindcss";

@font-face {
    /* font-family: "ARCO";
    font-display: swap;
    src: 
      local("ARCO"),
      url("/fonts/ARCO.ttf") format("truetype"),
      url("/fonts/ARCO.woff") format("woff"), */
}

@font-face {
    /* font-family: "Koomik Mono";
    font-display: swap;
    src:
      local("Koomik Mono"),
      url("/fonts/KoomikMono.otf") format("otf"),
      url("/fonts/KoomikMono.ttf") format("truetype"),
      url("/fonts/KoomikMono.woff") format("woff"),
      url("/fonts/KoomikMono.woff2") format("woff2"), */
}

@theme {
  --color: #213547;
  --font-body: Borel, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-mono: "Koomik Mono", monospace;
  --font-heading: ARCO, system-ui, Avenir, Helvetica, Arial, serif;
  /* --title-color: #ff4894; */
}

@layer components {
  h1 {
    font-family: var(--font-heading);
    color: var(--title-color);
  }

  code {
    font-family: var(--font-mono);
  }
}

:root {
  line-height: 1.7;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* color: var(--color);
  font-family: var(--font-body); */
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color);
    background-color: #fbfbfb;
  }
}

body {
  display: flex;
  place-items: center;
  min-height: 100vh;
}
