@import "tailwindcss";

@font-face {
    font-family: "ARCO";
    /* src: 
      local("ARCO"),
      url("/fonts/ARCO.ttf") format("truetype"),
      url("/fonts/ARCO.woff") format("woff"), */
}

:root {
  /* font-family: 'Borel', system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.7;
  font-weight: 400;

  color: #464343;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --title-color: #ff4894;
}

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

code {
  /* font-family: 'Reddit Mono Variable', monospace; */
}

h1 {
  /* font-family: ARCO, sans-serif; */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fbfbfb;
  }
}
